%h2 
  Suas histórias
.unpublished= button_to 'Suas histórias recusadas', "/all/unpublished", method: :get, class:'blueButton'
- if notice
  .createdHistory= notice
%table.listing
  %thead
    %tr
      %td Título
      %td
      %td          
  %tbody        
    - History.where("user_id = #{session[:id]}").each do |history| 
      %tr
        %td
          = link_to history.title, history
        %td.t
          = button_to "Editar", "/histories/#{history.id}/edit", method: :get, class:'blueButton'
        %td.t
          = button_to 'Deletar', {:controller=>"histories", :action=>"destroy", :id=> history.id}, method: :delete, class:'redButton'
