#background
  %h2 Todas as histórias
  %table.listing
    %thead
      %td.list Título
      %td.list Autor
      %td 
    %tbody  
      - @histories.each do |history|
        %tr
          %td.t= link_to history.title, history
          %td.t= link_to User.find(history.user_id).name, "/users/#{history.user_id}"
          %td.t= button_to 'Deletar', "/admin/histories/#{history.id}", method: :delete, class:'redButton'