.welcome
  .img
    %img{src:'highlight.jpg', width:'400', height:'250'}
  .text
    .title
      Olá escritor, olá leitor!
    Seja bem vindo ao Clube de Autores! Aqui suas histórias ganham vida e um grande mundo de fantasia te espera!
    = button_to 'Saiba mais', '/rules/1', method: :get
.end    

.index
  .title 
    %img{src:'crown.png'}
    Top Histórias

  .tops
    - for t in (0..10)
      - if @top[t]
        .topHList
          = link_to @top[t], "histories/#{@top_id[t]}"
    .end    

  .title 
    %img{src:'crown.png'}
    Top Autores

  .tops
    - for a in (0..10)
      -if @topauthors[a]
        .topHList
          = link_to @topauthors[a], "users/#{@topauthors_nick[a]}"
    .end

.last
  .ad
    %iframe{:frameborder => "0", :height => "250", :scrolling => "no", :src => "http://www.oquerola.com/wp-content/uploads/2013/09/animation1.swf", :width => "300"}

  .lastsInfo
    .lasts
      .user
        .img
          image here
        .text  
          - if @lastUser
            .title
              Último usuário cadastrado
            = link_to @lastUser.name, "/users/#{@lastUser.id}", class:'name'
            %br
            Passatempo: 
            =@lastUser.hobby
          - else
            Ninguém
      .hist 
        .text2
          - if @lastHistory 
            .title2
              Última história publicada
            = link_to @lastHistory.title, "/histories/#{@lastHistory.id}", class:'name2'
            %br
            .author
            por
            -User.find(@lastHistory.id) do |u|
              =link_to u.name, u
          - else
            Nenhuma
        .img2
          image here   
.end            