= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %table.form
    %tr
      %td.label Nome* :
      %td= f.text_field :name
    %tr
      %td.label Email* :
      %td= f.text_field :email
    %tr
      %td.label Nome de usuário* :
      %td= f.text_field :nick
    %tr
      %td.label Senha* :  
      %td= f.password_field :plain_password
    %tr
      %td.label Data de nascimento* :  
      %td= f.date_select :born_at, start_year: 100.years.ago.year, end_year: 1.years.ago.year
    %tr
      %td.label Situação:  
      %td= select(:user, :situation, options_for_select([['Criando o tempo todo.'], ['Aguarde... escrevendo...'], ['Sempre online e ignorando você!'],['Caçando dragões!']]))
    %tr
      %td.label Passatempo:  
      %td= f.text_field :hobby 
  .actions
    = f.submit