.profile
  .name
    =@user.name
  .date
    = @user.born_at
  .end  
  %table
    %tr
      %td.title Passatempo:
      %td= @user.hobby
    %tr
      %td.title Situação:
      %td= @user.situation
  
  .allHistories Todas Histórias de #{@user.nick}
%table.show
  %thead
    %tr
      %td 
  %tbody    
    - @histories.each do |h|
      %tr
        %td.t
          = link_to h.title, h