#home
  .separator
    %h2
      Página de usuário:
      = session[:name]
  .separator  
    - if session[:moderator]
      = select_tag(:mod_select, options_for_select([['Histórias Pendentes', 1]]), prompt: '--Opções de Moderador--')
  
  .separator  
    %ul.homeNav
      - u = User.find(session[:id])
      %li.home= link_to 'Perfil de Usuário', "/users/#{u.id}"
      %li.home= link_to 'Editar Conta', "/users/#{u.id}/edit"
      %li.home= link_to 'Enviar Nova História', "/histories/new"
      %li.home= link_to 'Suas Histórias', "/all/histories"


    %table.homeTables
      %thead
        %tr
          %td Histórias atualizadas recentemente
      %tbody
        - for i in (0..@upHistories.size)
          - if @upHistories[i]
            %tr
              %td= link_to @upHistories[i], "/histories/#{@upHistoriesId[i]}"

    %table.homeTables
      %thead
        %tr
          %td Favorite
      %tbody
        - for i in (0..@favHistories.size)
          -if @favHistories[i]
            %tr
              %td= link_to @favHistories[i], "/histories/#{@hId[i]}"
              / %td= button_to 'Excluir', {:controller=>"favorites", :action=>"destroy",:id => @favId[i]}, method: :delete 
    