#background
  - if @history.moderate == 0 || @history.moderate == 1
    #moderation
      Essa história ainda não está publicada.    
      %table
        %tr  
          %td= button_to 'Permitir publicação', "/histories/#{@history.id}/moderation"
          %td= button_to 'NÃO permitir publicação', "/histories/#{@history.id}/notallow"
  
  #advertising_horizontal
    Anúncio Aqui

  #historyPage
    %table 
      %tr
        %td  
          Autor:
          - u = User.find(@history.user_id)
          = link_to u.name, "/users/#{u.id}", class:"colored"
          %br
          Categoria(s):
          - Category.find(@history.category_ids).each do |c|
            = c.addcategory
          %br
          Classificação:
          - cl = Classification.find(@history.classification_id)
          = cl.name
        %td
          Nota do Autor:
          = @history.note
        - if session[:id]
          %td
            Adicionar aos favoritos
            #heart-fav
              %input.fav{:name => "Favorite", :type => "radio", :value => "1"}
        - if session[:id]
          %td
            Votar nessa história
            #star-rating
              %input.rating{:name => "Vote", :type => "radio", :value => "1"}
              %input.rating{:name => "Vote", :type => "radio", :value => "2"}
              %input.rating{:name => "Vote", :type => "radio", :value => "3"}
              %input.rating{:name => "Vote", :type => "radio", :value => "4"}
              %input.rating{:name => "Vote", :type => "radio", :value => "5"} 
        %td
          .g-plus{"data-action" => "share", "data-annotation" => "vertical-bubble", "data-height" => "60"}

        %td
          = button_to 'Reportar história', new_contact_path, method: :get, class: "button"

    %h2.title
      = @history.title

    %h2.author  
      por:
      - u = User.find(@history.user_id)
      = u.name

    -if @history.historytype == 1
      #textBox
        = simple_format @history.ahistory
    -if @history.historytype == 2
      %img{:src => @history.comic}
          

    - if @history.moderate == 2
      .fb-comments{"data-href" => "http://clubedeautores.herokuapp.com/histories/#{@history.id}", "data-width" => "900", "num_posts" => "5"} 
