= form_for(@contact) do |f|
  - if @contact.errors.any?
    #error_explanation
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg

  .label Tipo de contato*
  = select(:contact, :ctype, options_for_select([['Sugestão'], ['Problema no site'], ['Reportar história']]))
  .label Assunto*
  = f.text_field :subject, :placeholder => 'Assunto da mensagem'
  .label Email*
  = f.text_field :cemail, :placeholder => 'email_valido@exemplo.com'
  .label Link da página
  = f.text_field :link, :placeholder => 'http://www.exemplo.com/pagina'
  .label Mensagem*
  = f.text_area :message
  .actions
    = f.submit class: 'submit', value: 'Enviar'