#background
  %center
    %h2 Todas categorias
    = link_to 'Adicionar nova categoria', new_admin_category_path, class:"colored"
    %table.listing
      %thead
        %tr
          %td Título
          %td Editar?
          %td Apagar?
      #categoryList
      %tbody
        - @categories.each do |category|
          %tr
            %td.t= category.addcategory
            %td.t= button_to 'Editar', edit_admin_category_path(category), method: :get
            %td.t= button_to 'Apagar', "/admin/categories/#{category.id}", method: :delete