= form_for [:admin, @user] do |f|
  - if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .label Nome*
  = f.text_field :name
  .label Moderador de Histórias
  = check_box_tag :moderator
  .label Administrador
  = check_box_tag :admin

  .actions
    = f.submit class: 'submit', value: 'Atualizar'