#background
  %h2 Todos os usuários
  %table.listing
    %tr
      %th Nome
      %th Email
      %th Nick
      %th Data de nascimento
      %th Administrador
      %th
      %th
      %th
    - @users.each do |user|
      %tr
        %td= link_to user.name, user, class:"colored"
        %td= user.email
        %td= user.nick
        %td= user.born_at
        %td= user.admin
        %td= button_to 'Editar', edit_admin_user_path(user), method: :get
        %td= button_to 'Excluir', "/admin/users/#{user.id}", method: :delete