%html
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      #top
        #center
          #logo
            LOGO AQUI
          #search
            Pesquise aqui: 
            = form_tag :controller => 'histories', :action => 'search', :method => 'get' do
              = text_field_tag :search, params[:search], :id => 'search_field', class:"searchbox"
              = submit_tag "Buscar", :name => nil
          #links 
            = link_to "Acessar conta", "/entrar"
            |
            = link_to "Criar conta", "/users/new"
      %nav
        %ul
          %li=link_to "Início", "/"
          %li=link_to "Histórias", "/all/categories"
          %li=link_to "Regras", "/rules/1"
          %li=link_to "Enviar história", "/histories/new"
          %li=link_to "Sua página", "/home"
    #yield
      = yield

    %footer
      #center
        %ul
          %li LOGO AQUI
          %li Julho/2013
          %li= link_to "Contato", "/contacts/new"